@using Competitions.Common.Helpers
@model Competitions.Domain.Entities.Managment.Extracurricular


@{
    Layout = "_AdminLayout";
}

@section Styles{
    <link href="~/lib/persian-date/kendo.common.min.css" rel="stylesheet" />
    <link href="~/lib/persian-date/kendo.default.min.css" rel="stylesheet" />
    <link href="~/lib/persian-date/custom.input.css" rel="stylesheet" />
}

    <div class="d-flex flex-column flex-md-row align-items-md-center  justify-content-between mb-4">
        <h3 class="mb-4 mb-lg-0">مشاهده فوق برنامه</h3>
    </div>
    <section class="card shadow-sm ">
        <div class="row">
            @*--------------------------*@
            <div class="mb-3 col-md-6">
                <label class="form-label">نام دوره:</label>
                <input asp-for="Name" class="form-control" disabled>
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label">مکان برگزاری:</label>
                <input class="form-control" asp-for="Place.Title" disabled />
            </div>
            @*--------------------------*@
            <div class="mb-3 col-md-4">
                <label class="form-label">رشته ورزشی:</label>
                <input value="@Model.Sport.Name" class="form-control" disabled />
            </div>
            <div class="mb-3 col-md-4">
                <label class="form-label">نام مربی:</label>
                <input value="@Model.Coach.Name" class="form-control" disabled />
            </div>
            <div class="mb-3 col-md-4">
                <label class="form-label">نوع مخاطبین:</label>
                <input value="@Model.AudienceType.Title" class="form-control" disabled />
            </div>
            @*---------------------------*@
            <div class="mb-4 mt-1 d-flex flex-wrap align-items-center" id="time-box">
                @{
                if ( Model.Times != null )
                    foreach ( var time in Model.Times )
                    {
                        <div class="d-flex flex-column justify-content-center mx-2 border p-2"
                     style="box-shadow:inset 0 0 10px gray;border-radius:3px;"
                     value='{ day : "@time.Day" , time : "@time.Time" }'>
                            <span class="px-2 mb-1">@time.Day هر هفته ساعت @time.Time</span>
                        </div>
                    }
            }
            
        </div>
        @*---------------------------*@
        <div class="mb-3 col-md-4">
            <label class="form-label">جنسیت شرکت کنندگان</label>
            @{
                String gender = Model.Gender ? "زن" : "مرد";
            }
            <input class="form-control" value="@gender" disabled/>
        </div>
        <div class="mb-3 col-md-4">
            <label class="form-label">ظرفیت دوره:</label>
            <input type="number" min="1" asp-for="Capacity" class="form-control" disabled/>
        </div>
        <div class="mb-3 col-md-4">
            <label class="form-label">حداقل تعداد برای برگزاری:</label>
            <input type="number" min="1" asp-for="MinimumPlacements" class="form-control" disabled/>
        </div>
        @*---------------------------*@


        <div class="mb-3 col-md-3 pr-5">
            <label class="form-label">شروع دوره:</label>
            @{
                string startPutOn = Model.PutOn.From != default ? Model.PutOn.From.ToShamsi() : "";
            }
            <input id="start-put-on" name="StartPutOn" value="@startPutOn" width="100%" class="form-control" disabled/>
        </div>
        <div class="mb-3 col-md-3 pr-5">
            <label class="form-label">پایان دوره:</label>
            @{
                string endPutOn = Model.PutOn.To != default ? Model.PutOn.To.ToShamsi() : "";
            }
            <input id="end-put-on" name="EndPutOn" value="@endPutOn" width="100%" class="form-control" disabled />
        </div>
        <div class="mb-3 col-md-3 pr-5">
            <label class="form-label">شروع ثبت نام:</label>
            @{
                string startRegister = Model.Register.From != default ? Model.Register.From.ToShamsi() : "";
            }
            <input id="start-register" name="StartRegister" value="@startRegister" width="100%" class="form-control" disabled />
        </div>
        <div class="mb-3 col-md-3 pr-5">
            <label class="form-label">پایان ثبت نام:</label>
            @{
                string endRegister = Model.Register.To != default ? Model.Register.To.ToShamsi() : "";
            }
            <input id="end-register" name="EndRegister" value="@endRegister" width="100%" class="form-control"  disabled/>
        </div>
        @*--------------------------------*@
        <div class="mb-3">
            <label class="form-label">شرح:</label>
            <textarea class="form-control summernote" asp-for="Description" rows="5" disabled></textarea>
        </div>
    </div>
</section>

<div class="mt-3 text-center d-flex justify-content-center align-items-center">
    <button type="button" onclick="history.back()" class="btn btn-secondary d-flex align-items-center">
        <i class="fas fa-reply my-1 mx-2"></i>
    </button>
</div>

@section Scripts{
    <script src="~/lib/persian-date/jquery-1.9.1.min.js"></script>
    <script src="~/lib/persian-date/jquery.min.js"></script>
    <script src="~/lib/persian-date/JalaliDate.js"></script>
    <script src="~/lib/persian-date/kendo.web.js"></script>
    <script src="~/lib/persian-date/fa-IR.js"></script>
    <script>

        // persian DateTime
        $(document).ready(function () {
            $("#start-register").kendoDatePicker();
            $("#end-register").kendoDatePicker();
            $("#start-put-on").kendoDatePicker();
            $("#end-put-on").kendoDatePicker();
        });


    </script>
}