@model Competitions.Domain.Dtos.Matches.Matches.MatchFirstInfoDto
@using Competitions.Common.Helpers
@using Competitions.Domain.Dtos.Extracurriculars
@using Competitions.Web.Areas.Places.Models.Places
@using Newtonsoft.Json

@{
    Layout = "_AdminLayout";
    String stepModel = "FirstInfo";
    <partial name="_MatchStepsPartial" model="stepModel" />
}

@section Styles{
    <link href="~/lib/persian-date/kendo.common.min.css" rel="stylesheet" />
    <link href="~/lib/persian-date/kendo.default.min.css" rel="stylesheet" />
    <link href="~/lib/persian-date/custom.input.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/partials/multi-select.css" />
    <link rel="stylesheet" href="~/css/custome/timepicker.css" />

    <link rel="stylesheet" href="~/lib/persian-web-toolkit/persian-datepicker/dist/css/persian-datepicker.css" />
    <style>

        #start-register-validation,
        #end-register-validation,
        #start-put-on-validation,
        #end-put-on-validation {
            display: none;
        }

        .show-calender {
            border-radius: 0 5px 5px 0;
        }

        .start-puton-alt,
        .end-puton-alt,
        .start-register-alt,
        .end-register-alt{
            border-radius: 5px 0 0 5px;
        }

        .hide {
            display: none;
        }

    </style>
}


    <form method="post" enctype="multipart/form-data">

    @if ( Model.Id.HasValue )
    {
        <input asp-for="Id" hidden />
    }

    <input id="timesInput" name="Times" value="" hidden />

    <div class="d-flex flex-column flex-md-row align-items-md-center  justify-content-between mb-4">
        @if ( Model.ReadOnly )
        {
            <h3 class="mb-4 mb-lg-0">مشاهده مسابقه</h3>
        }
        else if ( Model.Id == default )
        {
            <h3 class="mb-4 mb-lg-0">افزودن مسابقه</h3>
        }
        else
        {

            <h3 class="mb-4 mb-lg-0">ویرایش مسابقه</h3>
        }
    </div>
    <section class="card shadow-sm ">
        <div class="row">
            @*--------------------------*@
            <div class="mb-3 col-md-3">
                <label class="form-label">نام مسابقه:</label>
                @if ( Model.ReadOnly )
                {
                    <input type="text" asp-for="Name" class="form-control" disabled>
                }
                else
                {
                    <input type="text" asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                }
            </div>
            <div class="mb-3 col-md-3">
                <label class="form-label">انتخاب جشنواره:</label>
                <div class="dropdown">
                    @if ( Model.ReadOnly )
                    {
                        <select asp-for="FestivalId" asp-items="@Model.Festivals" class="form-control" disabled>
                            <option selected></option>
                        </select>
                    }
                    else
                    {
                        <select asp-for="FestivalId" asp-items="@Model.Festivals" class="form-control">
                            <option selected></option>
                        </select>
                    }
                </div>
                <span asp-validation-for="FestivalId" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-3">
                <label class="form-label">مکان برگزاری:</label>
                <div class="dropdown">
                    @if ( Model.ReadOnly )
                    {
                        <select asp-items="@Model.Places" id="place" onchange="SelectPlace(this)" class="form-control" disabled>
                            <option selected disabled></option>
                        </select>
                    }
                    else
                    {
                        <select asp-items="@Model.Places" id="place" onchange="SelectPlace(this)" class="form-control">
                            <option selected disabled></option>
                        </select>
                    }
                </div>
                <span asp-validation-for="PlaceId" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-3">
                <input hidden value="@Model.PlaceId" id="placeId-input" />
                <label class="form-label">زیر مجموعه مکان برگزاری:</label>
                <div class="dropdown">
                    @if ( Model.ReadOnly )
                    {
                        <select asp-for="PlaceId" onchange="SelectSubPlace(this)" id="sub-places" class="form-control" disabled>
                        </select>
                    }
                    else
                    {
                        <select asp-for="PlaceId" onchange="SelectSubPlace(this)" id="sub-places" class="form-control">
                        </select>
                    }
                </div>
            </div>
            @*--------------------------*@
            <div class="mb-3 col-md-4">
                <label class="form-label">رشته ورزشی:</label>
                <div class="dropdown">
                    <input id="sport-input" value="@Model.SportId" hidden />
                    @if ( Model.ReadOnly )
                    {
                        <select asp-for="SportId" onchange="SelectSport(this)" id="sports" class="form-control" disabled>
                            <option selected disabled></option>
                        </select>
                    }
                    else
                    {
                        <select asp-for="SportId" onchange="SelectSport(this)" id="sports" class="form-control">
                            <option selected disabled></option>
                        </select>
                    }
                </div>
                <span asp-validation-for="SportId" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-4">
                <label class="form-label">جنسیت شرکت کنندگان:</label>
                <div class="dropdown">
                    @if ( Model.ReadOnly )
                    {
                        <select asp-items="@Model.GetGenders()" asp-for="Gender" class="form-control" disabled>
                            <option selected disabled></option>
                        </select>
                    }
                    else
                    {
                        <select asp-items="@Model.GetGenders()" asp-for="Gender" class="form-control">
                            <option selected disabled></option>
                        </select>
                    }
                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-4">
                <label class="form-label">سطح مسابقه:</label>
                <div class="dropdown">
                    @if ( Model.ReadOnly )
                    {
                        <select asp-for="Level" asp-items="@Model.GetLevels()" class="form-control" disabled>
                            <option selected disabled></option>
                        </select>
                    }
                    else
                    {
                        <select asp-for="Level" asp-items="@Model.GetLevels()" class="form-control">
                            <option selected disabled></option>
                        </select>
                    }
                </div>
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            @*---------------------------*@
            <div class="mb-3 col-md-6 pr-5">
                <label class="form-label">شروع ثبت نام:</label>
                @{
                    String startRegisterClick = Model.ReadOnly ? "" : "$('.start-register').toggleClass('hide')";
                }
                <div class="d-flex">
                    <button type="button" class="btn btn-secondary show-calender" onclick="@startRegisterClick">
                        <i class='fas fa-calendar-alt'></i>
                    </button>
                    <input name="StartRegister" class="form-control start-register-alt" id="start-register-alt" disabled="@Model.ReadOnly"/>
                </div>
                @if ( String.IsNullOrEmpty(Model.StartRegister) )
                {
                    <div class="start-register hide"></div>
                }
                else
                {
                    <div class="start-register hide" data-date="@Model.StartRegister"></div>
                }
                <span class="text-danger" asp-validation-for='StartRegister'></span>
            </div>
            <div class="mb-3 col-md-6 pr-5">
                <label class="form-label">پایان ثبت نام:</label>
                <div class="d-flex">
                    @{
                        String endRegisterClick = Model.ReadOnly ? "" :  "$('.end-register').toggleClass('hide')";
                    }
                    <button type="button" class="btn btn-secondary show-calender" onclick="@endRegisterClick">
                        <i class='fas fa-calendar-alt'></i>
                    </button>
                    <input name="EndRegister" class="form-control end-register-alt" id="end-register-alt" disabled="@Model.ReadOnly"/>
                </div>
                @if ( String.IsNullOrEmpty(Model.EndRegister) )
                {
                    <div class="end-register hide"></div>
                }
                else
                {
                    <div class="end-register hide" data-date="@Model.EndRegister"></div>
                }
                <span class="text-danger" asp-validation-for='EndRegister'></span>
            </div>
            @*--------------------------------*@
            <div class="mb-3 col-md-6 pr-5">
                <label class="form-label">تاریخ برگزاری مسابقات:</label>
                @{
                    String startPutOnClick = Model.ReadOnly ? "" : "$('.start-puton').toggleClass('hide')";
                }
                <div class="d-flex">
                    <button type="button" class="btn btn-secondary show-calender" onclick="@startPutOnClick">
                        <i class='fas fa-calendar-alt'></i>
                    </button>
                    <input name="StartPutOn" class="form-control start-puton-alt" id="start-puton-alt" disabled="@Model.ReadOnly" />
                </div>
                @if ( String.IsNullOrEmpty(Model.StartPutOn) )
                {
                    <div class="start-puton hide"></div>
                }
                else
                {
                    <div class="start-puton hide" data-date="@Model.StartPutOn"></div>
                }
                <span class="text-danger" asp-validation-for='StartPutOn'></span>
            </div>
            <div class="mb-3 col-md-6 pr-5">
                <label class="form-label">تاریخ اتمام مسابقات:</label>
                @{
                    String endPutOnClick = Model.ReadOnly ? "" :  "$('.end-puton').toggleClass('hide')";
                }
                <div class="d-flex">
                    <button type="button" class="btn btn-secondary show-calender" onclick="@endPutOnClick">
                        <i class='fas fa-calendar-alt'></i>
                    </button>
                    <input name="EndPutOn" class="form-control end-puton-alt" id="end-puton-alt" disabled="@Model.ReadOnly" />
                </div>
                @if ( String.IsNullOrEmpty(Model.EndPutOn) )
                {
                    <div class="end-puton hide"></div>
                }
                else
                {
                    <div class="end-puton hide" data-date="@Model.EndPutOn"></div>
                }
                <span class="text-danger" asp-validation-for='EndPutOn'></span>
            </div>
            @*--------------------------------*@
            <div class="mb-3 col-md-3">
                <label class="form-label">ظرفیت تعداد شرکت کننده:</label>

                @if ( Model.ReadOnly )
                {
                    <input asp-for="Capacity" class="form-control" disabled />
                }
                else
                {
                    <input asp-for="Capacity" class="form-control" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                }
            </div>
            <div class="mb-3 col-md-3">
                <label class="form-label">تعدادافراد هر تیم:</label>
                @if ( Model.ReadOnly )
                {
                    <input asp-for="TeamCount" class="form-control" disabled />
                }
                else
                {
                    <input asp-for="TeamCount" class="form-control" />
                }
                <span asp-validation-for="TeamCount" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label class="form-label">مخاطبین مسابقه:</label>
                @if ( Model.ReadOnly )
                {
                    var ids = Model.Audience.Split(',');
                    var texts = Model.AudienceTypes.Where(u => ids.Contains(u.Value)).Select(u => u.Text);
                    <input value="@String.Join(',' , texts)" class="form-control" disabled>
                }
                else
                {
                    <partial name="_MultipleSelectPartial" model="new MultipleSelect(nameof(Model.Audience) , Model.Audience , Model.AudienceTypes)" />
                    <span asp-validation-for="Audience" class="text-danger"></span>
                }
            </div>
        </div>
    </section>

    <div class="mt-3 text-center d-flex justify-content-end align-items-center">
        <a asp-action="Index" class="btn btn-secondary d-flex align-items-center">
            بازگشت
        </a>
        @if ( Model.ReadOnly )
        {
            <a asp-action="SecondInfo" asp-route-id="@Model.Id" asp-route-ReadOnly="@true" class="btn btn--submit mx-3 px-3">
                مرحله بعد
            </a>
        }
        else
        {
            <button class="btn btn--submit mx-3 px-3">
                مرحله بعد
            </button>
        }
    </div>


</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/persian-web-toolkit/jquery/dist/jquery.js"></script>
    <script src="~/lib/persian-web-toolkit/persian-date/dist/persian-date.js"></script>
    <script src="~/lib/persian-web-toolkit/persian-datepicker/dist/js/persian-datepicker.min.js"></script>

    <script src="~/lib/toastr/scripts/toastr.min.js"></script>
    <script src="~/js/pages/extracurricular.js"></script>
    <script src="~/js/partials/multi-select.js"></script>
    <script>
        // persian DateTime
        $(document).ready(function () {
            $(".end-puton").persianDatepicker({
                inline: true,
                altField: '#end-puton-alt',
                altFormat: 'LLLL',
                toolbox: {
                    calendarSwitch: {
                        enabled: true
                    }
                },
                navigator: {
                    scroll: {
                        enabled: false
                    }
                },
                maxDate: new persianDate().add('month', 3).valueOf(),
                minDate: new persianDate().subtract('month', 3).valueOf(),
                timePicker: {
                    enabled: true,
                    meridiem: {
                        enabled: true
                    }
                }
            });
            $(".start-puton").persianDatepicker({
                inline: true,
                altField: '#start-puton-alt',
                altFormat: 'LLLL',
                toolbox: {
                    calendarSwitch: {
                        enabled: true
                    }
                },
                navigator: {
                    scroll: {
                        enabled: false
                    }
                },
                maxDate: new persianDate().add('month', 3).valueOf(),
                minDate: new persianDate().subtract('month', 3).valueOf(),
                timePicker: {
                    enabled: true,
                    meridiem: {
                        enabled: true
                    }
                }
            });
            $(".end-register").persianDatepicker({
                inline: true,
                altField: '#end-register-alt',
                altFormat: 'LLLL',
                toolbox: {
                    calendarSwitch: {
                        enabled: true
                    }
                },
                navigator: {
                    scroll: {
                        enabled: false
                    }
                },
                maxDate: new persianDate().add('month', 3).valueOf(),
                minDate: new persianDate().subtract('month', 3).valueOf(),
                timePicker: {
                    enabled: true,
                    meridiem: {
                        enabled: true
                    }
                }
            });
            $(".start-register").persianDatepicker({
                inline: true,
                altField: '#start-register-alt',
                altFormat: 'LLLL',
                toolbox: {
                    calendarSwitch: {
                        enabled: true
                    }
                },
                navigator: {
                    scroll: {
                        enabled: false
                    }
                },
                maxDate: new persianDate().add('month', 3).valueOf(),
                minDate: new persianDate().subtract('month', 3).valueOf(),
                timePicker: {
                    enabled: true,
                    meridiem: {
                        enabled: true
                    }
                }
            });


        });

    </script>
}