@model Competitions.Domain.Dtos.Matches.Matches.MatchFirstInfoDto
@using Competitions.Common.Helpers
@using Competitions.Domain.Dtos.Extracurriculars
@using Competitions.Web.Areas.Places.Models.Places
@using Newtonsoft.Json

@{

    String startRegister = Model.StartRegister != default ? Model.StartRegister.ToShamsi() : "";
    String endRegister = Model.EndRegister != default ? Model.EndRegister.ToShamsi() : "";
    String startPutOn = Model.StartPutOn != default ? Model.StartPutOn.ToShamsi() : "";
    String endPutOn = Model.EndPutOn != default ? Model.EndPutOn.ToShamsi() : "";

    Layout = "_AdminLayout";

    String stepModel = "FirstInfo";
    <partial name="_MatchStepsPartial" model="stepModel" />
}

@section Styles{
    <link href="~/lib/persian-date/kendo.common.min.css" rel="stylesheet" />
    <link href="~/lib/persian-date/kendo.default.min.css" rel="stylesheet" />
    <link href="~/lib/persian-date/custom.input.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/partials/multi-select.css" />
    <link rel="stylesheet" href="~/css/custome/timepicker.css" />
}

<form method="post" enctype="multipart/form-data">


    @if (Model.Id.HasValue)
    {
        <input asp-for="Id" hidden />
    }

    <input id="timesInput" name="Times" value="" hidden />

    <div class="d-flex flex-column flex-md-row align-items-md-center  justify-content-between mb-4">
        @if (Model.ReadOnly)
        {
            <h3 class="mb-4 mb-lg-0">مشاهده مسابقه</h3>
        }
        else if (Model.Id == default)
        {
            <h3 class="mb-4 mb-lg-0">افزودن مسابقه</h3>
        }
        else
        {
            <h3 class="mb-4 mb-lg-0">ویرایش مسابقه</h3>
        }
    </div>


    <section class="card shadow-sm ">
        <div class="row">
            @*--------------------------*@
            <div class="mb-3 col-md-3">
                <label class="form-label">نام مسابقه:</label>
                @if (Model.ReadOnly)
                {
                    <input type="text" asp-for="Name" class="form-control" disabled>
                }
                else
                {
                    <input type="text" asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                }
            </div>
            <div class="mb-3 col-md-3">
                <label class="form-label">انتخاب جشنواره:</label>
                <div class="dropdown">
                    @if (Model.ReadOnly)
                    {
                        <select asp-for="FestivalId" asp-items="@Model.Festivals" class="form-control" disabled>
                            <option selected></option>
                        </select>
                    }
                    else
                    {
                        <select asp-for="FestivalId" asp-items="@Model.Festivals" class="form-control">
                            <option selected></option>
                        </select>
                    }
                </div>
                <span asp-validation-for="FestivalId" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-3">
                <label class="form-label">مکان برگزاری:</label>
                <div class="dropdown">
                    @if (Model.ReadOnly)
                    {
                        <select asp-items="@Model.Places" id="place" onchange="SelectPlace(this)" class="form-control" disabled>
                            <option selected disabled></option>
                        </select>
                    }
                    else
                    {
                        <select asp-items="@Model.Places" id="place" onchange="SelectPlace(this)" class="form-control">
                            <option selected disabled></option>
                        </select>
                    }
                </div>
                <span asp-validation-for="PlaceId" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-3">
                <input hidden value="@Model.PlaceId" id="placeId-input" />
                <label class="form-label">زیر مجموعه مکان برگزاری:</label>
                <div class="dropdown">
                    @if (Model.ReadOnly)
                    {
                        <select asp-for="PlaceId" onchange="SelectSubPlace(this)" id="sub-places" class="form-control" disabled>
                        </select>
                    }
                    else
                    {
                        <select asp-for="PlaceId" onchange="SelectSubPlace(this)" id="sub-places" class="form-control">
                        </select>
                    }
                </div>
            </div>
            @*--------------------------*@
            <div class="mb-3 col-md-4">
                <label class="form-label">رشته ورزشی:</label>
                <div class="dropdown">
                    <input id="sport-input" value="@Model.SportId" hidden />
                    @if (Model.ReadOnly)
                    {
                        <select asp-for="SportId" onchange="SelectSport(this)" id="sports" class="form-control" disabled>
                            <option selected disabled></option>
                        </select>
                    }
                    else
                    {
                        <select asp-for="SportId" onchange="SelectSport(this)" id="sports" class="form-control">
                            <option selected disabled></option>
                        </select>
                    }
                </div>
                <span asp-validation-for="SportId" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-4">
                <label class="form-label">جنسیت شرکت کنندگان:</label>
                <div class="dropdown">
                    @if (Model.ReadOnly)
                    {
                        <select asp-items="@Model.GetGenders()" asp-for="Gender" class="form-control" disabled>
                            <option selected disabled></option>
                        </select>
                    }
                    else
                    {
                        <select asp-items="@Model.GetGenders()" asp-for="Gender" class="form-control">
                            <option selected disabled></option>
                        </select>
                    }
                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-4">
                <label class="form-label">سطح مسابقه:</label>
                <div class="dropdown">
                    @if (Model.ReadOnly)
                    {
                        <select asp-for="Level" asp-items="@Model.GetLevels()" class="form-control" disabled>
                            <option selected disabled></option>
                        </select>
                    }
                    else
                    {
                        <select asp-for="Level" asp-items="@Model.GetLevels()" class="form-control">
                            <option selected disabled></option>
                        </select>
                    }
                </div>
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            @*---------------------------*@
            <div class="mb-3 col-md-6 pr-5">
                <label class="form-label">شروع ثبت نام:</label>
                <input width="100%" class="form-control" name="@nameof(Model.StartRegister)" value="@startRegister" id="start-register" disabled="@Model.ReadOnly">
                <span id="start-register-validation" class="text-danger" style="visibility:hidden;">تاریخ شروع ثبت نام را وارد کنید</span>
            </div>
            <div class="mb-3 col-md-6 pr-5">
                <label class="form-label">پایان ثبت نام:</label>
                <input width="100%" class="form-control" name="@nameof(Model.EndRegister)" value="@endRegister" id="end-register" disabled="@Model.ReadOnly">
                <span id="end-register-validation" class="text-danger" style="visibility:hidden;">تاریخ پایان ثبت نام را وارد کنید</span>
            </div>
            @*--------------------------------*@
            <div class="mb-3 col-md-6 pr-5">
                <label class="form-label">تاریخ برگذاری مسابقات:</label>
                <input width="100%" class="form-control" name="@nameof(Model.StartPutOn)" value="@endRegister" id="start-putOn" disabled="@Model.ReadOnly">
                <span id="start-putOn-validation" class="text-danger" style="visibility:hidden;">تاریخ برگذاری مسابقات را وارد کنید</span>
            </div>
            <div class="mb-3 col-md-6 pr-5">
                <label class="form-label">تاریخ پایان مسابقات:</label>
                <input width="100%" class="form-control" name="@nameof(Model.EndPutOn)" value="@endRegister" id="end-putOn" disabled="@Model.ReadOnly">
                <span id="end-putOn-validation" class="text-danger" style="visibility:hidden;">تاریخ پایان مسابقات را وارد کنید</span>

            </div>
            @*--------------------------------*@
            <div class="mb-3 col-md-3">
                <label class="form-label">ظرفیت تعداد شرکت کننده:</label>
                <div class="d-flex">

                    @{
                        String inputStyle = Model.ReadOnly ? "" : "border-top-left-radius:0;border-bottom-left-radius:0;";
                    }

                    <input value="نامحدود" id="infinity-capacity" style="@inputStyle"
                        type="@(Model.Capacity == int.MaxValue ? "text" : "hidden")" class="form-control" />



                    <input type="@(Model.Capacity != int.MaxValue ? "text" : "hidden")" asp-for="Capacity" 
                        id="capacity-input" class="form-control" style="@inputStyle" readonly="@Model.ReadOnly" />
                    
                    @if (!Model.ReadOnly)
                    {
                        <button type="button" id="capacity-btn" class="btn btn-secondary"
                            style="font-size:12px;border-top-right-radius:0;border-bottom-right-radius:0;">
                            @(Model.Capacity == int.MaxValue ? "محدود" : "نامحدود")
                        </button>
                    }

                </div>
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="mb-3 col-md-3">
                <label class="form-label">تعدادافراد هر تیم:</label>
                @if (Model.ReadOnly)
                {
                    <input asp-for="TeamCount" class="form-control" disabled />
                }
                else
                {
                    <input asp-for="TeamCount" class="form-control" />
                }
                <span asp-validation-for="TeamCount" class="text-danger"></span>
            </div>
            <div class="mb-3 col-6">
                <label class="form-label">مخاطبین مسابقه:</label>
                @if (Model.ReadOnly)
                {
                    var ids = Model.Audience.Split(',');
                    var texts = Model.AudienceTypes.Where(u => ids.Contains(u.Value)).Select(u => u.Text);
                    <input value="@String.Join(',' , texts)" class="form-control" disabled>
                }
                else
                {
                    <partial name="_MultipleSelectPartial" model="new MultipleSelect(nameof(Model.Audience) , Model.Audience , Model.AudienceTypes)" />
                    <span asp-validation-for="Audience" class="text-danger"></span>
                }
            </div>
        </div>
    </section>


    <div class="mt-3 text-center d-flex justify-content-end align-items-center">
        <a asp-action="Index" class="btn btn-secondary d-flex align-items-center">
            بازگشت
        </a>
        @if (Model.ReadOnly)
        {
            <a asp-action="SecondInfo" asp-route-id="@Model.Id" asp-route-ReadOnly="@true" class="btn btn--submit mx-3 px-3">
                مرحله بعد
            </a>
        }
        else
        {
            <button class="btn btn--submit mx-3 px-3">
                مرحله بعد
            </button>
        }
    </div>


</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/persian-date/jquery-1.9.1.min.js"></script>
    <script src="~/lib/persian-date/jquery.min.js"></script>
    <script src="~/lib/persian-date/JalaliDate.js"></script>
    <script src="~/lib/persian-date/kendo.web.js"></script>
    <script src="~/lib/persian-date/fa-IR.js"></script>
    <script src="~/lib/toastr/scripts/toastr.min.js"></script>
    <script src="~/js/pages/extracurricular.js"></script>
    <script src="~/js/partials/multi-select.js"></script>
    <script>
        // persian DateTime
        $(document).ready(function () {
            $("#start-register").kendoDatePicker();
            $("#end-register").kendoDatePicker();
            $("#start-putOn").kendoDatePicker();
            $("#end-putOn").kendoDatePicker();

            $("#capacity-btn").click(()=>{
                if($("#infinity-capacity").attr("type") == "hidden"){
                    $("#infinity-capacity").attr("type" , "text");
                    $("#capacity-input").val(@int.MaxValue);
                    $("#capacity-input").attr("type" , "hidden");
                    $("#capacity-btn").html("محدود");
                }
                else{
                    $("#infinity-capacity").attr("type", "hidden");
                    $("#capacity-input").attr("type", "text");
                    $("#capacity-input").val(1);
                    $("#capacity-btn").html("نامحدود");
                }
            });
        });
    </script>
}