@model Competitions.Domain.Dtos.Matches.Matches.MatchConditionDto



@{
    Layout = "_AdminLayout";
    String stepModel = "MatchCondition";
    <partial name="_MatchStepsPartial" model="stepModel" />
}


@section Styles{
    <style>
        #filebtn {
            border: dotted 1px #006ab1;
            color: #006ab1;
            background-color: #e7f5ff;
        }

        .image-container {
            border: 1px solid black;
            border-radius: 4px;
            width: 100%;
            aspect-ratio: 2;
        }

        .image-box {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
        }

        #file-name {
            color: blue;
        }

        .pointer {
            cursor: pointer;
        }

    </style>
}


    <form method="post" enctype="multipart/form-data">

    @if ( Model.Id.HasValue )
    {
        <input asp-for="Id" hidden id="id" />
    }

    <div class="d-flex flex-column flex-md-row align-items-md-center  justify-content-between mb-4">
        @if ( Model.ReadOnly )
        {
            <h3 class="mb-4 mb-lg-0">مشاهده مسابقه</h3>
        }
        else if ( Model.Id == default )
        {
            <h3 class="mb-4 mb-lg-0">افزودن مسابقه</h3>
        }
        else
        {
            <h3 class="mb-4 mb-lg-0">ویرایش مسابقه</h3>
        }
    </div>
    <section class="card shadow-sm ">
        <div class="row">
            <div class="mb-3 col-md-6 px-5">
                <div class="mb-3">
                    <input asp-for="File" accept=".pdf" type="file" onchange="enterImage(this)" id="uploadbox" hidden />
                    @if (! Model.ReadOnly )
                    {
                        <button type="button" id="filebtn" onclick="$('#uploadbox').click()" class="form-control">انتخاب آیین نامه عمومی و فنی مسابقات</button>
                    }
                </div>
                <p>
                    نام فایل انتخاب شده :
                    @if ( !String.IsNullOrEmpty(Model.File) )
                    {
                        <span id="file-name">
                            @Model.File
                        </span>
                    }
                    else
                    {
                        <span id="file-name"></span>
                    }
                </p>
            </div>
            <div class="mb-3 col-md-6">
                <div class="mb-3">
                    <label class="form-label">نوع پرداختی را وارد کنید:</label>
                    <div class="d-flex flex-row">
                        <div class="d-flex mx-3">
                            <label class="form-label pointer" for="free">رایگان</label>
                            @if ( Model.ReadOnly )
                            {
                                <input class="pointer" type="radio" id="free" name="Free" disabled value="@true.ToString()" checked="@Model.Free" style="width:10px;" />
                            }
                            else
                            {
                                <input class="pointer" type="radio" id="free" name="Free" onclick="DisablePayment()" value="@true.ToString()" checked style="width:10px;" />
                            }
                        </div>
                        <div class="d-flex">
                            <label class="form-label pointer" for="payment">شهریه</label>
                            @if ( Model.ReadOnly )
                            {
                                <input class="pointer" type="radio" id="payment" name="Free" disabled value="@false.ToString()" style="width:10px;" />
                            }
                            else
                            {
                                <input class="pointer" type="radio" id="payment" name="Free" onclick="EnablePayment()" checked="@(!Model.Free)" value="@false.ToString()" style="width:10px;" />
                            }
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">مبلغ شهریه به ازای هر نفر:</label>
                    @if ( Model.ReadOnly )
                    {
                        <input asp-for="Payment" id="pay" class="form-control" disabled />
                    }
                    else
                    {
                        <input asp-for="Payment" id="pay" class="form-control" disabled="@Model.Free" />
                    }
                </div>
            </div>
        </div>


    </section>

    <div class="mt-3 text-center d-flex justify-content-end align-items-center">
       
        <a asp-action="SecondInfo" asp-route-id="@Model.Id" asp-route-ReadOnly="@Model.ReadOnly" class="btn btn-secondary d-flex align-items-center">
            <i class="fas fa-reply my-1 mx-2" style="transform:rotateY(180deg)"></i>
        </a>

        @if(Model.ReadOnly)
        {
            <a class="btn btn--submit mx-3 px-3" asp-action="MatchDocument" asp-route-Id="@Model.Id" asp-route-ReadOnly="@true">
                مرحله بعد
            </a>
        }
        else{
        <button type="submit" onclick="return validateInput();" class="btn btn--submit mx-3 px-3">
            مرحله بعد
        </button>
        }
    </div>

</form>



@section Scripts{

    <partial name="_ValidationScriptsPartial" />
    <script>


        function validateInput() {
            if (document.getElementById("id") == null && document.getElementById("uploadbox").value == "") {
                swal({
                    title: `هشدار!`,
                    text: "فایل را وارد کنید",
                    type: "error",
                    cancelButtonText: "بازگشت"
                })
                return false;
            }
            return true;
        }

        function enterImage(imageInput) {
            document.getElementById("file-name").innerHTML = getFileName(imageInput.value);
        }

        function getFileName(fullPath) {
            const parts = fullPath.split('\\');
            return parts[2];
        }

        function DisablePayment() {
            const input = document.getElementById("pay");
            input.value = "";
            input.setAttribute("disabled", "disabled")
        }

        function EnablePayment() {
            const input = document.getElementById("pay");
            input.disabled = false;
        }
    </script>
}
