@using Competitions.Domain.Entities.Authentication;
@model User



<section class="card shadow-sm ">

    <h3 class="text-info">مشخصات</h3>
    <hr />
    <p>نام : @Model.Name</p>
    <p>نام خانوادگی : @Model.Family</p>
    <p>کد ملی : @Model.NationalCode</p>
    <p>شماره دانشجویی : @Model.StudentNumber</p>
    <p>شماره موبایل : @Model.PhoneNumber</p>
</section>