@model Competitions.Domain.Dtos.Matches.Matches.RegisterMatchDto

<form method="post" enctype="multipart/form-data">
    <input asp-for="TeamCount" hidden />
    <input asp-for="Number" hidden />

    <div class="d-flex flex-column flex-md-row align-items-md-center  justify-content-between mb-4">
        <h3 class="mb-4 mb-lg-0">ثبت نام در مسابقه</h3>
        <h5 dir="ltr">@Model.Number / @Model.TeamCount</h5>
    </div>
    <section class="card shadow-sm ">
        @if ( Model.TeamCount > 1 )
        {
            <h4 class="mb-5">نفر @Model.Number</h4>

        }
        <div class="row">
                <div class="col-6 mb-3">

                    <label class="form-label">شماره دانشجویی</label>
                    <input class="form-control" asp-for="StudentNumber" value="">
                    <span class="text-danger" asp-validation-for="StudentNumber"></span>
                </div>
                <div class="row">
                    <h5 class="my-4">مدارک</h5>
                    @if(Model.Documents==null){
                    Model.Documents = new List<Competitions.Domain.Entities.Managment.MatchDocument>();
                }
                    @for ( int j = 0 ; j < Model.Documents.Count() ; j++ )
                    {
                        <div class="col-md-4 mb-3">
                            <label class="form-label">@Model.Documents.ElementAt(j).Evidence.Title</label>
                        <input name="FilesNames[@j]" value="@Model.Documents.ElementAt(j).Evidence.Title" hidden />
                        <input name="Files[@j]" type="file" class="form-control" accept="@Model.Documents.ElementAt(j).Type" hidden onchange="this.parentElement.children[3].innerText = this.value.split('\\')[2]" />
                        <button type="button" onclick="this.parentElement.children[2].click()" class="form-control">انتخاب @Model.Documents.ElementAt(j).Evidence.Title</button>
                        </div>
                    }
                </div>
            
        </div>

    </section>

    <div class="mt-3 text-center d-flex justify-content-center align-items-center">
        <button class="btn btn--submit mx-3 px-3">
            ثبت
        </button>
        <button type="button" onclick="history.back()" class="btn btn-secondary d-flex align-items-center">
            <i class="fas fa-reply my-1 mx-2"></i>
        </button>
    </div>

</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}