@using Competitions.Common.Helpers
@using Competitions.Domain.Entities
@model Competitions.Web.Models.Notifications.NotifDataVM

@section Styles{

    <link rel="stylesheet" href="~/css/home/place-list.css" />
    <style>
        #raw{
            color:gray;
            font-size:.9rem;
        }
        #raw>p{
            color:inherit;
        }
    </style>
}

    <form method="get">



        <div class="wrapper">
            <section class="top">
                <section>
                    <div class="registry-bg">
                        <h3 class="registry-title-top">اطلاعیه ها</h3>
                    </div>
                </section>
            </section>
            <div class="m-3">

                <div class="card-wrapper">
                @foreach ( var item in Model.Notifications )
                {
                    String imgPath = item.Images.Any() ? item.Images.Select(u => u.Image.Name).First() : "";
                    <div class="card-item card">
                        <div style="margin:auto;">
                            <img src="@StaticEntitiesDetails.NotificationPath@imgPath" alt="" class="imagePlace" />
                        </div>
                        <div>
                            <div class="mt-4">
                                <h4>عنوان : @item.Title</h4>
                            </div>

                            @{
                                String shortDesc = String.Join(' ' , item.Description.Split(' ').Take(12));
                            }
                            <div class="mt-2" id="raw">
                              @Html.Raw(shortDesc)
                            </div>

                        </div>

                        <div class="text-center">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn btn-warning m-2">
                                جزئیات
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <partial name="_PagenationPartial" model="@Model.Pagenation" />
</form>

@section Scripts{
    <script src="~/js/utility/collapse.js"></script>
    <script src="~/js/utility/dropdown.js"></script>
    <script src="~/js/utility/pagenation.js"></script>
}