@using Competitions.Domain.Dtos.Managment.Matches
@using Newtonsoft.Json
@model Competitions.Domain.Dtos.Managment.Matches.MatchDocumentDto



@{
    Layout = "_AdminLayout";
    String stepModel = "MatchDocument";
    <partial name="_MatchStepsPartial" model="stepModel" />
}


@section Styles{
    <style>
        .pointer {
            cursor: pointer;
        }

    </style>
}


    <form method="post" enctype="multipart/form-data">


    @if ( Model.Id.HasValue )
    {
        <input asp-for="Id" hidden />
    }

    <input name="Data" value="@JsonConvert.SerializeObject(Model.Info)" id="data-input" hidden />

    <div class="d-flex flex-column flex-md-row align-items-md-center  justify-content-between mb-4">
        @if ( Model.ReadOnly )
        {
            <h3 class="mb-4 mb-lg-0">مشاهده مسابقه</h3>
        }
        else if ( Model.Id == default )
        {
            <h3 class="mb-4 mb-lg-0">افزودن مسابقه</h3>
        }
        else
        {
            <h3 class="mb-4 mb-lg-0">ویرایش مسابقه</h3>
        }
    </div>
    <section class="card shadow-sm ">

        @if (!Model.ReadOnly)
        {
            <div class="row">
                <div class="mb-3 col-5">
                <label class="form-label">نام مدارک:</label>
                <div class="dropdown">
                    <select class="form-control" asp-items="@Model.Evidences" id="evidence-select">
                    </select>
                </div>
            </div>
            <div class="mb-3 col-5">
                <label class="form-label">نوع فایل:</label>
                <div class="dropdown">
                    <select asp-items="@Model.GetTypes()" class="form-control" id="type-select">
                    </select>
                </div>
            </div>
            <div class="mb-3 col-2 pt-4">
                <button type="button" class="btn btn-success mt-2" onclick="AddDoc()">افزودن</button>
            </div>
        </div>
        }
        <div class="table-overflow">
            <div class="table ">
                <table class="table text-center" width="100%">
                    <thead>
                        <tr class="text-center">
                            <th>نام مدرک</th>
                            <th>نوع فایل</th>
                            @if (!Model.ReadOnly)
                            {
                                <th> عملیات</th>
                            }
                        </tr>
                    </thead>
                    <tbody id="file-body">
                        @{
                            if ( Model.Info != null )
                            {
                                for ( int i = 0 ; i < Model.Info.Count() ; i++ )
                                {
                                            <tr class="text-center" data='{ evidenceId : @Model.Info.ElementAt(i).EvidenceId , type : "@Model.Info.ElementAt(i).Type" }'>
                                                <td>@Model.Evidences.First(u=>u.Value == Model.Info.ElementAt(i).EvidenceId.ToString()).Text</td>
                                                @{
                                            var type = Model.GetTypes().FirstOrDefault(u => u.Value == Model.Info.ElementAt(i).Type);
                                            if ( type != null )
                                            {
                                                                <td>@type.Text</td>
                                            }
                                            else
                                            {
                                                                <td>@Model.Info.ElementAt(i).Type</td>
                                            }
                                                }
                                                @if (!Model.ReadOnly)
                                        {
                                                    <td>
                                                        <button type="button" onclick="RemoveData(this)" class="btn btn--delete me-2"><i class="fa fa-trash"></i></button>
                                                    </td>
                                        }
                                            </tr>
                                }
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>


    </section>

    <div class="mt-3 text-center d-flex justify-content-end align-items-center">
        <a asp-action="MatchCondition" asp-route-id="@Model.Id" asp-route-ReadOnly="@Model.ReadOnly" class="btn btn-secondary d-flex align-items-center">
            <i class="fas fa-reply my-1 mx-2" style="transform:rotateY(180deg)"></i>
        </a>

        @if ( Model.ReadOnly )
        {
            <a class="btn btn--submit mx-3 px-3" asp-action="MatchAward" asp-route-Id="@Model.Id" asp-route-ReadOnly="@true">
                مرحله بعد
            </a>
        }
        else
        {
            <button onclick="return validateInput();" class="btn btn--submit mx-3 px-3">
                مرحله بعد
            </button>
        }

    </div>

</form>



@section Scripts{

    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/toastr/scripts/toastr.min.js"></script>

    <script>
        const evidenceSelect = document.getElementById("evidence-select");
        const typeSelect = document.getElementById("type-select");
        const tBody = document.getElementById("file-body");
        const dataInput = document.getElementById("data-input");

        function AddDoc() {
            const evidenceId = evidenceSelect.value;
            const evidenceText = evidenceSelect.options[evidenceSelect.selectedIndex].text;
            const typeId = typeSelect.value;
            const typeText = typeSelect.options[typeSelect.selectedIndex].text;

            AddElement(evidenceId, evidenceText, typeId, typeText);
        }

        function AddElement(evidenceId, evidenceText, typeId, typeText) {
            const tr = document.createElement("tr");
            tr.className = "text-center";
            tr.setAttribute("data", `{ evidenceId : ${evidenceId} , type : "${typeId}" }`)

            const evTd = document.createElement("td");
            evTd.innerHTML = evidenceText;

            const typeTd = document.createElement("td");
            typeTd.innerHTML = typeText;

            const removeTd = document.createElement("td");
            const removeBtn = document.createElement("button");
            removeBtn.className = "btn btn-danger";
            removeBtn.onclick = () => tr.remove();
            removeBtn.type = "button";

            const removeIcon = document.createElement("i");
            removeIcon.className = "fa fa-trash";

            removeBtn.appendChild(removeIcon);
            removeTd.appendChild(removeBtn);

            tr.appendChild(evTd);
            tr.appendChild(typeTd);
            tr.appendChild(removeTd);

            tBody.appendChild(tr);
        }

        function RemoveData(btn) {
            btn.parentElement.parentElement.remove();
        }

        function validateInput() {
            if (tBody.children.length == 0) {
                toastr.error('مدارک لازم را وارد کنید');
                return false;
            }

            dataInput.value = "[ ";
            Array.from(tBody.children).forEach((tr, index) => {
                dataInput.value += tr.getAttribute("data");
                if (index != tBody.children.length - 1)
                    dataInput.value += " , ";
            })
            dataInput.value += "]";

            return true;
        }
    </script>
}